<!-- <form [formGroup]="passwordFormGroup" (ngSubmit)="updatePassword()" class="movie-form__form"> -->

<div class="flex">

  <mat-form-field appearance="fill" class="flex-item">
    <mat-label>Old password</mat-label>
    <input matInput type="text">
  </mat-form-field>

  <!-- TODO: Password Strength-o-meter -->

  <mat-form-field appearance="fill" class="flex-item">
    <mat-label>New password</mat-label>
    <input matInput type="text">
  </mat-form-field>

  <mat-form-field appearance="fill" class="flex-item">
    <mat-label>Confirm password</mat-label>
    <input matInput type="text">
  </mat-form-field>

  <div class="flex-item">
    <button mat-flat-button color="primary" class="btn">Update</button>
    <button mat-button class="btn">Cancel</button>
  </div>

</div>

<!-- </form> -->