<form [formGroup]="passwordFormGroup" (ngSubmit)="updatePassword()">

  <div class="flex">

    <mat-form-field appearance="fill" class="mb-05">
      <mat-label>Old password</mat-label>
      <input matInput type="password" formControlName="oldPassword">
      <mat-error *ngIf="passwordFormGroup.controls['oldPassword'].hasError('password')">
        Invalid password
      </mat-error>
    </mat-form-field>

    <!-- TODO: Password Strength-o-meter -->

    <mat-form-field appearance="fill" class="mb-05">
      <mat-label>New password</mat-label>
      <input matInput type="password" formControlName="newPassword" (input)="updateConfirmPassword()">

      <mat-error *ngIf="passwordFormGroup.controls['newPassword'].hasError('minlength')">
        Must be at least 8 characters long
      </mat-error>
      <mat-error *ngIf="passwordFormGroup.controls['newPassword'].hasError('pattern')">
        Must contain at least one lowercase, uppercase, special character and digit
      </mat-error>
      <mat-error *ngIf="passwordFormGroup.controls['newPassword'].hasError('match_oldPassword')">
        {{passwordFormGroup.controls["newPassword"].errors?.["match_oldPassword"] ?? "Passwords must match 1"}}
      </mat-error>

    </mat-form-field>

    <mat-form-field appearance="fill" class="mb-05">
      <mat-label>Confirm password</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
      <mat-error *ngIf="passwordFormGroup.controls['confirmPassword'].hasError('match_newPassword')">
        {{passwordFormGroup.controls["confirmPassword"].errors?.["match_newPassword"] ?? "Passwords must match 3"}}
      </mat-error>
    </mat-form-field>

    <div class="mt">
      <button mat-flat-button color="primary" class="btn" [disabled]="!passwordFormGroup.valid">Update</button>
      <!-- <button mat-button class="btn">Cancel</button> -->
    </div>

  </div>

</form>