<div class="container-fluid">
  <app-breadcrumbs></app-breadcrumbs>

  <h2>Admin Dashboard</h2>

  <mat-tab-group dynamicHeight>
    <mat-tab>
      <ng-template mat-tab-label>
        <span>Users</span>
      </ng-template>

      <table mat-table [dataSource]="users" class="w-100 mb-2 mt">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let user">{{user.id}}</td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>Username</th>
          <td mat-cell *matCellDef="let user">{{user.username}}</td>
        </ng-container>

        <ng-container matColumnDef="first_name">
          <th mat-header-cell *matHeaderCellDef>First name</th>
          <td mat-cell *matCellDef="let user">{{user.first_name}}</td>
        </ng-container>

        <ng-container matColumnDef="last_name">
          <th mat-header-cell *matHeaderCellDef>Last name</th>
          <td mat-cell *matCellDef="let user">{{user.last_name}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let user">{{user.email}}</td>
        </ng-container>

        <ng-container matColumnDef="is_superuser">
          <th mat-header-cell *matHeaderCellDef id="adminLabel">Admin</th>
          <td mat-cell *matCellDef="let user">
            <!-- Add riple back when implementing updating this when clicking the checkbox -->
            <mat-checkbox color="primary" [checked]="user.is_superuser" disableRipple aria-labelledby="adminLabel">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="is_staff">
          <th mat-header-cell *matHeaderCellDef id="staffLabel">Staff</th>
          <td mat-cell *matCellDef="let user">
            <mat-checkbox color="primary" [checked]="user.is_staff" disableRipple aria-labelledby="staffLabel"></mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="profile">
          <th mat-header-cell *matHeaderCellDef>Profile</th>
          <td mat-cell *matCellDef="let user">
            <a mat-icon-button routerLink="/user/{{user.username}}">
              <mat-icon>assignment_ind</mat-icon>
            </a>

          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let user">
            <button mat-icon-button color="warn" (click)="deleteUser(user)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="userColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: userColumns;"></tr>
      </table>

    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <span>Bits</span>
      </ng-template>

      <!-- <div class="mb" *ngFor="let bit of bits">
        <app-bit [bit]="bit"></app-bit>
      </div> -->

      <table mat-table [dataSource]="bits" class="w-100 mb-2 mt">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let bit">{{bit.id}}</td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let bit">{{bit.title}}</td>
        </ng-container>

        <ng-container matColumnDef="content">
          <th mat-header-cell *matHeaderCellDef>Content</th>
          <td mat-cell *matCellDef="let bit">
            {{bit.content | slice: 0 : 60}}<span *ngIf="bit.content.length > 60">...</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef>Created at</th>
          <td mat-cell *matCellDef="let bit">{{bit.created_at | date: "dd.MM.yyyy, HH:mm"}}</td>
        </ng-container>

        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef>Author</th>
          <td mat-cell *matCellDef="let bit">
            <a class="link" routerLink="/users/{{bit.user_details.username}}">{{bit.user_details.username}}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="hashtags">
          <th mat-header-cell *matHeaderCellDef>Hashtags</th>
          <td mat-cell *matCellDef="let bit">{{bit.hashtags}}</td>
        </ng-container>

        <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef>View</th>
          <td mat-cell *matCellDef="let bit">
            <a mat-icon-button routerLink="/bit/{{bit.id}}">
              <mat-icon>article</mat-icon>
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let bit">
            <button mat-icon-button color="warn" (click)="deleteBit(bit)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="bitColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: bitColumns;"></tr>
      </table>

    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <span>Comments</span>
      </ng-template>

      <!-- <div class="mb" *ngFor="let comment of comments">
        <app-bit-comment [comment]="comment"></app-bit-comment>
      </div> -->


      <table mat-table [dataSource]="comments" class="w-100 mb-2 mt">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let comment">{{comment.id}}</td>
        </ng-container>

        <ng-container matColumnDef="bit">
          <th mat-header-cell *matHeaderCellDef>Bit</th>
          <td mat-cell *matCellDef="let comment">{{comment.bit}}</td>
        </ng-container>

        <ng-container matColumnDef="content">
          <th mat-header-cell *matHeaderCellDef>Content</th>
          <td mat-cell *matCellDef="let comment">
            {{comment.content | slice: 0 : 100}}<span *ngIf="comment.content.length > 100">...</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef>Created at</th>
          <td mat-cell *matCellDef="let comment">{{comment.created_at | date: "dd.MM.yyyy, HH:mm"}}</td>
        </ng-container>

        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef>Author</th>
          <td mat-cell *matCellDef="let comment">
            <a class="link" routerLink="/users/{{comment.user_details.username}}">{{comment.user_details.username}}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef>View</th>
          <td mat-cell *matCellDef="let comment">
            <a mat-icon-button routerLink="/bit/{{comment.bit}}">
              <mat-icon>forum</mat-icon>
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let comment">
            <button mat-icon-button color="warn" (click)="deleteComment(comment)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="commentColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: commentColumns;"></tr>
      </table>

    </mat-tab>
  </mat-tab-group>
</div>