.flex {
  flex-direction: column;
}

.title-field {
  width: 100%;
}

.form-header {
  width: 100%;
  margin-bottom: -1rem;
}

.file-input {
  display: none;
}

.file-label {
  margin-right: 0.75rem;
}

.rounded-btn {
  margin: 5px;
}

.form-image {
  height: 3.5rem;
  width: auto;
  margin: -1rem auto -1.25rem auto;
}
