<div class="w-100">

  <div *ngIf="bitFormGroup.controls.id.value" class="w-100 space-between mb">
    <div class="form-title">Edit your bit</div>
    <button mat-icon-button (click)="deleteBit()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <form [formGroup]="bitFormGroup" (ngSubmit)="createOrUpdateBit()" class="w-100">

    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>What do you want to share?</mat-label>
      <textarea matInput cdkTextareaAutosize formControlName="content"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select placeholder="Category" formControlName="category">
        <mat-option *ngFor="let category of categoryService.availableCategories"
                    [value]="category.id">{{category.title}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Image</mat-label>
      <input matInput type="text" formControlName="image">
    </mat-form-field>

    <button mat-flat-button color="primary" [disabled]="!bitFormGroup.valid" class="w-100">
      <span *ngIf="!bitFormGroup.controls.id.value">Create</span>
      <span *ngIf="bitFormGroup.controls.id.value">Update</span>
    </button>

  </form>

</div>
