<form [formGroup]="bitFormGroup" (ngSubmit)="createOrUpdateBit()" class="movie-form__form">

  <div class="flex">

    <span class="form-title" *ngIf="bitFormGroup.controls.id.value">
        Edit your bit
    </span>

    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>What do you want to share?</mat-label>
      <textarea matInput cdkTextareaAutosize formControlName="content"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-select placeholder="Category" formControlName="category">
        <mat-option *ngFor="let category of categoryService.availableCategories" [value]="category.id">{{category.title}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Image</mat-label>
      <input matInput type="text" formControlName="image">
    </mat-form-field>
  </div>

  <button *ngIf="!bitFormGroup.controls.id.value" mat-flat-button color="primary">Create</button>
  <button *ngIf="bitFormGroup.controls.id.value" mat-flat-button color="primary" class="w-100">Edit</button>

</form>
<div class="w-100 align-center mt-1" *ngIf="bitFormGroup.controls.id.value">
  <button mat-icon-button (click)="deleteBit()">
    <mat-icon>delete</mat-icon>
    Delete
  </button>
</div>

