<div class="container-xl">
  <!-- About me -->
  <div class="section">
    <h2>About</h2>
    <app-about-me [user]="userService.user | async" action="friend" [isFriend]="isFriend"></app-about-me>
  </div>

  <!-- Stats -->
  <div class="section">
    <h3>Stats</h3>
    <app-profile-stats></app-profile-stats>
  </div>

  <div class="section">
    <h3>Bits</h3>
    <mat-card *ngIf="!isFriend">
      <div class="flex">
        <mat-icon>lock</mat-icon>
        <div>
          Only friends can see {{userService.user.value?.username}}'s bits.
        </div>
      </div>
    </mat-card>

    <div class="bit-list" *ngIf="isFriend">
      <div *ngFor="let bit of bits" class="mb">
        <app-bit [bit]="bit"></app-bit>
      </div>
    </div>

  </div>

</div>