<mat-card>

  <div class="flex space-between">

    <!-- User/Username -->
    <div>
      <div class="mb vertical-center">
        <app-user-thumbnail [user]="user!" class="user-thumbnail user-thumbnail-m"></app-user-thumbnail>
        <div>
          <mat-card-title class="user inline-flex vertical-center">
            {{user?.first_name}} {{user?.last_name}}
            <app-user-badge [user]="user" *ngIf="user"></app-user-badge>
          </mat-card-title>
          <mat-card-subtitle class="username">
            @{{user?.username}}
          </mat-card-subtitle>
        </div>
      </div>
    </div>

    <!-- Edit Button -->
    <mat-card-subtitle *ngIf="action === 'edit'">
      <a mat-icon-button routerLink="/profile/settings">
        <mat-icon class="edit">edit</mat-icon>
      </a>
    </mat-card-subtitle>

    <!-- Friend Button -->
    <mat-card-subtitle class="mt-0" *ngIf="action === 'friend' && currentUser?.id !== user?.id">
      <button mat-flat-button color="primary" (click)="this.addFriend()" *ngIf="friendship === undefined">
        <mat-icon>person_add</mat-icon>
        Add as friend
      </button>
      <button mat-stroked-button color="primary" *ngIf="friendship?.friendship_status === 1" disabled>
        <mat-icon>checkmark</mat-icon>
        Request sent
      </button>
      <button mat-flat-button color="warn" (click)="this.removeFriend()" *ngIf="friendship?.friendship_status === 2">
        <mat-icon>person_remove</mat-icon>
        Remove friend
      </button>
    </mat-card-subtitle>

    <!-- Profile Button -->
    <mat-card-subtitle class="mt-0" *ngIf="action === 'profile' && user">
      <a mat-flat-button color="primary" routerLink="/user/{{user?.username}}">
        <mat-icon>person</mat-icon>
        Profile
      </a>
    </mat-card-subtitle>

  </div>

  <!-- "Bio" -->
  <div *ngIf="formattedAbout">
    <p [innerHtml]="formattedAbout"></p>
  </div>
</mat-card>