.full-height {
  height: 100%;
}

.sidebar-container {
  // toolbar height is 4rem
  height: calc(100% - 4rem) !important;
}

.content-container {
  padding: 1rem;
  padding-left: 2rem;
  height: calc(100% - 2rem) !important;
}

.mat-drawer-side {
  border-right-width: 0;
}

.sidebar-pattern {
  position: fixed;
  height: 100vh;
  left: 60px;
}