<div *ngIf="bit">
  <div class="container-xl">
    <app-breadcrumbs></app-breadcrumbs>
  </div>

  <div class="container-xl" style="margin-top: 1.5rem;">

    <div class="mb">
      <app-bit [bit]="bit" *ngIf="bit"></app-bit>
    </div>

    <!-- Leave comment form -->
    <form [formGroup]="commentFormGroup" (ngSubmit)="createComment()" class="w-100 space-between">

      <mat-form-field appearance="fill" class="comment-field">
        <mat-label>Leave a comment ...</mat-label>
        <textarea matInput cdkTextareaAutosize formControlName="content"></textarea>
        <button matSuffix mat-icon-button aria-label="Send" [disabled]="!this.commentFormGroup.controls['content'].value">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>

      <!-- !commentFormGroup.valid -->
      <!-- <button mat-flat-button color="primary" [disabled]="!this.commentFormGroup.controls['content'].value" class="inline-button">
      <span>Create</span>
    </button> -->

    </form>

    <div class="comment" *ngFor="let comment of comments">
      <app-bit-comment [comment]="comment" *ngIf="comment"></app-bit-comment>
    </div>

    <app-no-data title="Start a discussion by leaving a comment." image="undraw_texting-accent.svg"
      *ngIf="comments?.length === 0 && comments">
    </app-no-data>

  </div>
</div>