<div class="container-xl" style="margin-top: 3rem;">
  <div class="mb">
    <app-bit [bit]="bit" *ngIf="bit"></app-bit>
  </div>

  <!-- Leave comment form -->
  <form [formGroup]="commentFormGroup" (ngSubmit)="createComment()" class="w-100 space-between">

    <mat-form-field appearance="fill" class="comment-field">
      <mat-label>Leave a comment ...</mat-label>
      <textarea matInput cdkTextareaAutosize formControlName="content"></textarea>
    </mat-form-field>

    <button mat-flat-button color="primary" [disabled]="!commentFormGroup.valid" class="inline-button">
      <span>Create</span>
    </button>

  </form>

  <div class="comment" *ngFor="let comment of comments">
    <app-bit-comment [comment]="comment" *ngIf="comment"></app-bit-comment>
  </div>

</div>
