<app-background-pattern></app-background-pattern>

<div class="flex center wrapper">
  <div class="inner intro">
    <h1 class="logo text-accent">
      <img src="../../../assets/firebit-logo-full.svg" alt="Firebit Logo" draggable="false">
    </h1>
    <h3 class="text-white mb-2">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam et
      dolore magna aliquyam erat, sed diam magna. At vero eos et accusam et
      justo duo dolores et ea rebum.
    </h3>
    <button mat-flat-button color="accent" routerLink="/register">Get started</button>
  </div>

  <div class="inner">

    <div *ngIf="path === '' || path === 'login'">
      <app-login-form></app-login-form>
    </div>

    <div *ngIf="path === 'register'">
      <app-register-form></app-register-form>
    </div>

    <div *ngIf="path === 'reset-password'">
      <app-forgot-password-form></app-forgot-password-form>
    </div>

  </div>
</div>