// @import "../../../variables";

.wrapper {
  justify-content: center;
  align-items: center;
  height: calc(100% - 2rem); // margin
  flex-wrap: wrap;
  margin: -1rem;
}

.inner {
  margin: 2rem;
  min-width: 24rem;
  max-width: 100%;
}

.intro {
  max-width: 30rem;
  text-align: center;
}

.hidden {
  display: none;
}

.logo {
  img {
    max-height: 6rem;
  }
}

.logo-background {
  // background-color: change-color($color: $primary, $saturation: 30);
}