.wrapper {
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
  z-index: 1;
}

.inner {
  margin: 2rem;
  min-width: 24rem;
  max-width: 100%;
  z-index: inherit;
}

.intro {
  max-width: 30rem;
  text-align: center;
}

.hidden {
  display: none;
}

.background-pattern {
  position: fixed;
  height: 90%;
  z-index: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.8;
}

.logo {
  img {
    max-height: 6rem;
  }
}
