.card {
  padding: 1.5rem;
}

.bit-owned {
  border-bottom: 1px solid #285368;
}

.bit-user, .bit-username {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.bit-user {
  font-size: 1.05rem;
  // color: initial;
  font-weight: 500;
}

.bit-category {
  font-size: 0.8rem;
}

.bit-category-chip {
  background-color: #FF855F !important;
  color: #fff !important;
}

.bit-subtitle {
  justify-content: space-between;
}

.bit-liked {
  background: #FEE7E4 !important;
}

.bit-bookmarked {
  background: #E3E8EB !important;
}
