<mat-card class="card" [class.bit-owned]="createdByCurrentUser">

  <div class="flex bit-subtitle">

    <div class="vertical-center mb" *ngIf="user">
      <a class="link" routerLink="/user/{{user?.username}}" class="user-thumbnail user-thumbnail-s" draggable="false" unselectable>
        <app-user-thumbnail [user]="user"></app-user-thumbnail>
      </a>
      <div>
        <mat-card-content class="bit-user">
          <!-- <a class="link" routerLink="/user/{{user?.username}}"> -->
          {{user?.first_name}} {{user?.last_name}}
          <!-- </a> -->
        </mat-card-content>
        <mat-card-subtitle class="bit-user-subtitle">
          <div class="bit-username">@{{user?.username}} &bull; {{bit?.created_at | date : 'dd.MM.yyyy, HH:mm'}}</div>
        </mat-card-subtitle>
      </div>
    </div>

    <mat-chip-list>
      <span class="bit-category">
        <app-category [id]="bit?.category" cssClass="category-bit-chip"></app-category>
        <!-- <mat-chip routerLink="/categories/travelling" class="bit-category">
          Travelling
        </mat-chip> -->
      </span>
    </mat-chip-list>
  </div>

  <mat-card-title>
    <a class="link" routerLink="/bit/{{bit?.id}}">
      {{bit?.title}}
    </a>
  </mat-card-title>

  <!-- TODO: potential safety risks because HTML is escaped, however it's needed for hashtags -->
  <div class="mb" [innerHTML]="contentFormatted"></div>

  <div class="flex bit-image-container">
    <div *ngFor="let image of bit?.images">
      <img src="{{this.appService.baseUrl + image.file}}" alt="Bit Image" class="bit-image" draggable="false" unselectable>
    </div>

    <!-- <div *ngFor="let image of bit?.images" class="mb">
      <img src="{{this.appService.baseUrl + image.file}}" alt="Bit Image" class="w-100" draggable="false">
    </div> -->
  </div>

  <mat-card-actions class="space-between">
    <div>
      <button mat-stroked-button color="warn" (click)="createOrDeleteLike()" [class.bit-liked]="likedByCurrentUser">
        <mat-icon>local_fire_department</mat-icon>
        {{likes.length}}
      </button>

      <button mat-stroked-button color="primary" (click)="createOrDeleteBookmark()" [class.bit-bookmarked]="bookmarkedByCurrentUser">
        <mat-icon>bookmark_border</mat-icon>
        <!-- bookmark_border / bookmark -->
        {{bookmarks.length}}
      </button>
      <a class="link" routerLink="/bit/{{bit?.id}}">
        <button mat-stroked-button>
          <mat-icon>forum</mat-icon>
          {{commentsCount}}
        </button>
      </a>
    </div>
    <div *ngIf="createdByCurrentUser">
      <a class="link" routerLink="/bit/{{bit?.id}}/edit">
        <button mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </a>
    </div>
  </mat-card-actions>

</mat-card>