.card {
  padding: 1.5rem;
}

.bit-user, .bit-username {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.bit-user {
  font-size: 1.05rem;
  // color: initial;
  font-weight: 500;
}

.bit-category {
  font-size: 0.8rem;
}

.bit-subtitle {
  justify-content: space-between;
}

.bit-liked {
  background: #FEE7E4 !important;
}

.bit-bookmarked {
  background: #EBE5F5 !important;
}
