<mat-card class="card">

  <div class="flex bit-subtitle">

    <div>
      <mat-card-content class="bit-user">
        <a class="link" routerLink="/user/{{bit?.auth_user}}">
          {{user?.first_name}} {{user?.last_name}}
        </a>
      </mat-card-content>
      <mat-card-subtitle>
        <p class="bit-username">@{{user?.username}} - {{bit?.created_at | date : 'dd.MM.yyyy, hh:mm'}}</p>
      </mat-card-subtitle>
    </div>

    <mat-chip-list>
      <span class="bit-category">
        <app-category [id]="bit?.category"></app-category>
        <!-- <mat-chip routerLink="/categories/travelling" class="bit-category">
          Travelling
        </mat-chip> -->
      </span>
    </mat-chip-list>
  </div>

  <mat-card-title>
    <a class="link" routerLink="/bit/{{bit?.id}}">
      {{bit?.title}}
    </a>
  </mat-card-title>

  <div class="mb">
    {{bit?.content}}
  </div>

  <mat-card-actions class="space-between">
    <div>
      <button mat-stroked-button color="warn" (click)="createOrDeleteLike()" [class.bit-liked]="likedByAuthUser">
        <mat-icon>local_fire_department</mat-icon>
        {{likes.length}}
      </button>

      <button mat-stroked-button color="primary" (click)="createOrDeleteBookmark()"
              [class.bit-bookmarked]="bookmarkedByAuthUser">
        <mat-icon>bookmark_border</mat-icon>
        <!-- bookmark_border / bookmark -->
        {{bookmarks.length}}
      </button>
      <a class="link" routerLink="/bit/{{bit?.id}}">
        <button mat-stroked-button>
          <mat-icon>forum</mat-icon>
          {{commentsCount}}
        </button>
      </a>
    </div>
    <!-- TODO: Check if bit.auth_user == loggedInUser -->
    <div>
      <a class="link" routerLink="/bit/{{bit?.id}}/edit">
        <button mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </a>
    </div>
  </mat-card-actions>

</mat-card>
