<div class="container-xl">
  <div class="section">
    <h2>Your Activities</h2>

    <mat-tab-group animationDuration="200ms">

      <mat-tab label="Bits I Liked">
        <ng-template matTabContent>
          <app-activities-liked></app-activities-liked>
        </ng-template>
      </mat-tab>

      <mat-tab label="Bits I Commented">
        <ng-template matTabContent>
          <app-activities-commented></app-activities-commented>
        </ng-template>
      </mat-tab>

    </mat-tab-group>

  </div>
</div>