<div class="bg-primary background-color"></div>
<!-- <img src="../../../assets/firebit-logo.svg" class="background-pattern" alt="Firebit background pattern" draggable="false"> -->

<!-- Inline, because css filters dont on svg inners with img -->
<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="background-pattern" draggable="false">
  <!-- flame -->
  <path class="flame" fill="#ff7043" stroke="transparent" d="M 4,12 h6 v-2 h2 v-6 h-2 v-2 h-2 v-2 h-2 v4 h-2 v2 h-2 v4 h2 Z" />
  <!-- wood -->
  <path class="wood" fill="#74573e" stroke="transparent" d="M 2,16 h4 v-2 h4 v2 h4 v-2 h-2 v-2 h-8 v2 h-2 Z" />
</svg>