<app-background-pattern></app-background-pattern>

<div class="flex center wrapper">
  <div class="inner about-img">
    <img src="../../../assets/undraw_team_spirit.svg" alt="Camping" draggable="false">
  </div>
  <mat-card class="about-us-card">
    <div class="inner error-text">
      <h1>
        Meet the Firebit team
      </h1>
      <h2>
        The Firebit team consists of four students of the FH-Joanneum<br>
      </h2>
      <h3>
        <ul class="no-bullets">
          <li>
            <img src="https://avatars.dicebear.com/api/male/Basti.svg?mood[]=happy" class="avatar-image">
            Bastian Lang - Angular Guru and man for the music
          </li>
          <li>
            <img src="https://avatars.dicebear.com/api/male/Chrissi.svg?mood[]=happy" class="avatar-image">
            Christoper Rolke - Python poet and fixtures pro
          </li>
          <li class="list-items">
            <div>
              <img src="https://avatars.dicebear.com/api/male/David.svg?mood[]=happy" class="avatar-image">
              David Sebernegg - Peer programming connoisseur
            </div>
          </li>
          <li>
            <img src="https://avatars.dicebear.com/api/male/Ramon.svg?mood[]=happy" class="avatar-image">
            Ramon Tippl - Django expert and design genius
          </li>
        </ul>
      </h3>
      <h3>

      </h3>

      <!-- Back -->
      <button mat-flat-button color="accent" routerLink="/">
        <mat-icon>undo</mat-icon>
        Go back to login
      </button>
    </div>
  </mat-card>
</div>
