.wrapper {
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
  z-index: 1;

}

.inner {

  min-width: 24rem;
  max-width: 100%;
  z-index: inherit;
  padding: 1rem;
}

.about-us-card {
  padding: 1rem;
  max-width: 45rem;
  margin: 0 auto;
}

.about-img {
  text-align: center;

  img {
    max-height: 30rem;
    padding-right: 3rem;
  }
}

.team-list {
  list-style: none;

  li {
    margin-top: 10px;

  }

}

.avatar-image {
  max-height: 4rem;
  max-width: 4rem;
}

.list-items {
  margin-top: 10px;
}
