<app-background-pattern></app-background-pattern>

<div class="flex center wrapper" style="width: 100%">
  <div class="inner about-img">
    <img src="../../../assets/undraw_team_spirit.svg" alt="Camping" draggable="false" unselectable>
  </div>
  <mat-card class="about-us-card">
    <div class="inner">

      <div class="flex space-between title-container">
        <mat-card-title>Meet the Firebit team</mat-card-title>

        <mat-card-title class="logo text-accent">
          <img src="../../../assets/firebit-logo-full.svg" alt="Firebit Logo" draggable="false">
        </mat-card-title>
      </div>
      <h3>The Firebit team consists of four students of the FH-Joanneum</h3>

      <div class="flex team-list mt-2 mb-2">
        <div class="flex team-item">
          <img src="https://avatars.dicebear.com/api/male/Basti.svg?mood[]=happy" class="avatar-image">
          <h4>Bastian Lang - Angular expert and man for the music</h4>
        </div>
        <div class="flex team-item">
          <img src="https://avatars.dicebear.com/api/male/Chrissi.svg?mood[]=happy" class="avatar-image">
          <h4>Christoper Rolke - Python poet and fixtures pro</h4>
        </div>
        <div class="flex team-item">
          <img src="https://avatars.dicebear.com/api/male/David.svg?mood[]=happy" class="avatar-image">
          <h4>David Sebernegg - Peer programming connoisseur</h4>
        </div>
        <div class="flex team-item">
          <img src="https://avatars.dicebear.com/api/male/Ramon.svg?mood[]=happy" class="avatar-image">
          <h4>Ramon Tippl - Django expert and design genius</h4>
        </div>
      </div>

      <!-- Back -->
      <div class="align-right w-100">
        <button mat-stroked-button color="accent" routerLink="/">
          <mat-icon>undo</mat-icon>
          Go back
        </button>
      </div>


    </div>
  </mat-card>

</div>