/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex {
  display: flex;
}

.container-xl {
  max-width: 1080px;
  margin: 0 auto;
}

.section {
  margin-bottom: 2rem;
}

.mb {
  margin-bottom: 1rem;
}

.mt {
  margin-top: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.mat-button-base {
  mat-icon {
    font-size: 1.5em;
  }
}

.link {
  text-decoration: inherit;
  color: inherit;
}

.fully-center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-card {
  margin: auto;
  width: 22em !important;
  padding: 1.5em !important;
}

.form-title {
  font-size: 1.25em;
  font-weight: bolder;
  margin: auto auto auto 0;
}

.w-100 {
  width: 100%;
}

.space-between {
  display: flex !important;
  justify-content: space-between !important;
}

.align-center {
  justify-content: center;
  display: flex;
}

.mt-1 {
  margin-top: 1em !important;
}

.w-auto {
  width: auto !important;
}

.mat-form-field {
  width: 100%;
}
