<form *ngIf="tokenIsValid" [formGroup]="passwordResetFormGroup" (ngSubmit)="updatePassword()">

  <div class="flex">

    <!-- TODO: Password Strength-o-meter -->

    <mat-form-field appearance="fill" class="mb-05">
      <mat-label>New password</mat-label>
      <input matInput type="password" formControlName="newPassword" (input)="updateConfirmPassword()">

      <mat-error *ngIf="passwordResetFormGroup.controls['newPassword'].hasError('minlength')">
        Must be at least 8 characters long
      </mat-error>
      <mat-error *ngIf="passwordResetFormGroup.controls['newPassword'].hasError('pattern')">
        Must contain at least one lowercase, uppercase, special character and digit
      </mat-error>

    </mat-form-field>

    <mat-form-field appearance="fill" class="mb-05">
      <mat-label>Confirm password</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
      <mat-error *ngIf="passwordResetFormGroup.controls['confirmPassword'].hasError('match_newPassword')">
        {{passwordResetFormGroup.controls["confirmPassword"].errors?.["match_newPassword"] ?? "Passwords must match 3"}}
      </mat-error>
    </mat-form-field>

    <div class="mt">
      <button mat-flat-button color="primary" class="btn" [disabled]="!passwordResetFormGroup.valid">Update</button>
      <!-- <button mat-button class="btn">Cancel</button> -->
    </div>

  </div>

</form>

<div *ngIf="tokenIsValid === false">
  <h3>This token is invalid</h3>
  <!--<img class="horizontal-center" style="height: 100px; width: 100px;"
       src="../../../assets/undraw_cancel_re_ctke.svg"
       alt="invalid token">-->
</div>
