<div class="container-xl">

  <app-breadcrumbs></app-breadcrumbs>

  <!-- About me -->
  <div class="section">
    <h2>My Profile</h2>
    <app-about-me [user]="userService.currentUser | async" action="edit"></app-about-me>
  </div>

  <!-- Stats -->
  <div class="section">
    <h3>Stats</h3>
    <app-profile-stats></app-profile-stats>
  </div>

  <!-- Bits -->
  <div class="section">
    <h3>My Bits</h3>
    <div class="bit-list">
      <div *ngFor="let bit of bits" class="mb">
        <app-bit [bit]="bit"></app-bit>
      </div>

      <app-no-data title="You have not posted any bits yet." message="Start by posting your first experience."
        image="undraw_post-accent.svg" *ngIf="bits.length === 0"></app-no-data>
    </div>
  </div>

</div>