<form>
  <!--[formGroup]="loginFormGroup" (ngSubmit)="login()"-->
  <mat-card class="login-card">
    <!-- <mat-card-header class="login-card"> -->
    <mat-card-title>
      Login
    </mat-card-title>
    <!-- </mat-card-header> -->
    <mat-card-content>
      <div class="flex form-content">
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username" name="username" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password" type="password" name="password" required>
        </mat-form-field>
        <div class="hint mb">
          Forgot your password?
          <a mat-button color="primary" routerLink="/reset-password">Reset</a>
        </div>

        <!-- <mat-card-actions> -->
        <button mat-raised-button type="button" color="primary">Login</button>
      </div>
      <!-- </mat-card-actions> -->
      <p class="center">
        Dont have an account?
        <a mat-button color="primary" routerLink="/register">Register</a>
      </p>

    </mat-card-content>
  </mat-card>
</form>