.search-container {
  margin: 1rem 0;
  display: flex;
  min-width: 15rem;
}

mat-form-field {
  width: 100%;
  margin-top: 1rem;
  font-size: 0.7em;
}

.flex {
  justify-content: space-between;
}

.logo {
  height: 2rem;
}

.profile-menu-btn {
  margin-left: 1rem;
  margin-right: 0.25rem;
  margin-top: 0.5rem;

  .mat-icon {
    transform: scale(1.75);
    margin-bottom: 0.5rem;
  }
}

// doesnt work
.profile-menu {
  .mat-menu-content {
    min-width: 10rem !important;
  }
}

// Unused
.mat-badge.hide-text .mat-badge-content {
  color: transparent;
  height: 1em;
  width: 1em;
  border: 2px solid purple;
}

.menu-list-spacer {
  justify-content: space-between;
  align-items: center;
}
