<mat-toolbar color="primary" class="flex">

  <img src="../../../assets/firebit-logo-full.svg" alt="Firebit Logo" class="logo" draggable="false">

  <div class="search-container">
    <mat-form-field appearance="fill" class="search-form-field">
      <mat-label>Search ...</mat-label>
      <input matInput type="text" [formControl]="searchForm" (keyup)="handleKeyUp($event)">
      <mat-error *ngIf="searchForm.invalid">
        Searchterm must be at least 3 characters long.
      </mat-error>
      <button *ngIf="searchForm.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchForm.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div>
    <!--
    <button mat-icon-button>
      <mat-icon>mail_outline</mat-icon>
    </button>
    -->

    <!-- <span matBadge="0" matBadgeColor="warn" matBadgeSize="small"> -->
    <button mat-icon-button [matMenuTriggerFor]="menu" class="profile-menu-btn">
      <app-user-thumbnail [user]="user" class="user-thumbnail user-thumbnail-s" *ngIf="user">
      </app-user-thumbnail>

      <mat-icon class="profile-imgage-alt" *ngIf="!user">person</mat-icon>
    </button>
    <!-- </span> -->
    <mat-menu #menu="matMenu" xPosition="before" class="profile-menu">
      <a mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </a>
      <a mat-menu-item routerLink="/profile/friends">
        <mat-icon>people</mat-icon>
        <span>Friends</span>

        <!-- Ugly spacing, because width/min-width doesnt work -->
        <span style="visibility: hidden">______________</span>
      </a>
      <div mat-menu-item disabled>
        <div class="flex menu-list-spacer">
          <div>
            <mat-icon>nights_stay</mat-icon>
            <span>Dark Mode</span>
          </div>

          <mat-slide-toggle color="primary"></mat-slide-toggle>
        </div>
      </div>

      <p></p>
      <mat-divider></mat-divider>
      <p></p>

      <a mat-menu-item routerLink="/profile/settings">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </a>
      <button mat-menu-item class="warn" (click)="userService.logout()">
        <!-- <mat-icon color="warn">power_settings_new</mat-icon> -->
        <mat-icon color="warn">logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

  </div>
</mat-toolbar>
