.search-container {
  margin: 1rem 0;
  display: flex;
  max-width: 20rem;
  width: 100%;
}

.search-placeholder {
  opacity: 0.7;
}

mat-form-field {
  width: 100%;
  margin-top: 1rem;
  font-size: 0.7em;
}

.flex {
  justify-content: space-between;
}

.logo {
  height: 2rem;
}

@media (max-width: 599px) {
  .logo-full {
    display: none;
  }
}

@media (min-width: 600px) {
  .logo-only {
    display: none;
  }
}

.profile-menu-btn {
  margin-left: 1rem;
  margin-right: 0.25rem;
  margin-top: 0.5rem;

  .mat-icon {
    transform: scale(1.75);
    margin-bottom: 0.5rem;
  }
}

.profile-menu-header {
  padding: 0 2rem;
  margin: 0.5rem 0;
  flex-direction: column;

  .profile-name {
    margin-bottom: 0.25rem;
  }

  .profile-username.mat-card-subtitle {
    margin-bottom: 0;
  }
}

// doesnt work
.profile-menu {
  .mat-menu-content {
    min-width: 10rem !important;
  }
}

// Unused
.mat-badge.hide-text .mat-badge-content {
  color: transparent;
  height: 1em;
  width: 1em;
  border: 2px solid purple;
}

.menu-list-spacer {
  justify-content: space-between;
  align-items: center;
}
