<mat-toolbar color="primary" class="flex">
  <div>
    <!-- <button mat-icon-button class="example-icon" aria-label="Logo">
      <mat-icon>fire_extinguisher</mat-icon>
    </button>
    <span>Firemölder</span> -->
    <img src="../../../assets/firebit-logo-full.svg" alt="Firebit Logo" class="logo">

  </div>

  <div class="search-container">
    <mat-form-field appearance="fill" class="search-form-field">
      <mat-label>Search ...</mat-label>
      <input matInput type="text" [formControl]="searchForm">
      <button *ngIf="searchForm.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchForm.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div>
    <button mat-icon-button>
      <mat-icon>mail_outline</mat-icon>
    </button>
    <a mat-icon-button routerLink="/profile">
      <mat-icon>person</mat-icon>
    </a>
  </div>
</mat-toolbar>