<mat-card class="password-card">
  <!-- <mat-card-header class="login-card"> -->
  <mat-card-title>
    Reset password
  </mat-card-title>
  <!-- </mat-card-header> -->

  <mat-card-content *ngIf="!this.token">

    <form [formGroup]="resetPasswordFormGroup" (ngSubmit)="resetPassword()">
      <div class="flex form-content">

        <div class="mb">
          Enter your email address, and we'll send you a reset link.
        </div>

        <mat-form-field class="mb">
          <input matInput placeholder="Email" formControlName="email" type="email" name="email" required>
          <mat-error *ngIf="this.resetPasswordFormGroup.controls['email'].invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>

        <button mat-raised-button type="submit" color="primary">Send</button>

        <p class="center">
          Remember your password?
          <a class="link text-primary fw-medium" routerLink="/">Login</a>
        </p>

      </div>
    </form>

  </mat-card-content>

  <mat-card-content *ngIf="this.token">
    <app-password-reset-form [token]="this.token"></app-password-reset-form>
  </mat-card-content>
</mat-card>